<div class="container">
  <div class="Style2 text-center">Ma biographie</div>
  <hr />

  <p class="Style4" id="cv-musical">CV musical</p>
  <p>
    Après une formation classique à la clarinette, j’ai étudié le saxophone
    (alto, ténor et soprano) en autodidacte.
    <br /><br />
    Je joue (ou j’ai joué) régulièrement avec :
    <br />
    Georges Arvanitas Quartet, « Peter Ind’s Bass Clef International » (Peter
    Ind, Tony Barnard, Rod Youngs), Dee Dee Bridgewater Big Band, Georges Brown,
    Gérard Badini Super Swing Machine, Michel Legrand Big Band (Carnegie Hall Et
    Tournée Japon 1996), Milky Sax (Featuring Arturo Sandoval, Et Michel
    Legrand), Michel Zenino Sextet.
    <br /><br />
    Je dirige actuellement mon propre quartet :
    <br />
    « Pure imagination » en compagnie de Dexter Goldberg, Yoni Zelnic et Simon
    Bernier. J’ai joué occasionnellement avec : Michel Barrot, Philippe Baudoin,
    Lionel Belmondo Big Band (Featuring Dee Dee Brigdgewater), Éric Barret,
    Charles Bellonzi, François Chassagnite Quintet, Dominique Di Piazza, Ludovic
    De Preissac, Djoa (Laurent Sommier), Ellintonmania (François Biensan), Glenn
    Ferris, Marc Fosset, Didier Goret Big Band, Daniel Goyone, Pierre (« Tiboum
    ») Guignon, Ahmet Gülbey, Michelle Hendricks, Régis Huiban, Olivier Hutman,
    Irakli (Louis Amstrong Mémorial Orchestra), Oliver Johnson, Lumière Big Band
    (Laurent Cugny), Serges Lazarévitch, Jean-Loup Longnon Sextet, Arnaud
    Matteï, John Pizzarelli, Michel Portal, Jean-Luc Roumier, Gildas Scouarnec,
    T.S.F., Pascal Salmon, Saxomania (Claude Tissandier), Bruno Tocanne, René
    Urtreger, Joe Lee Wilson, etc.
    <br /><br />
    J’ai aussi pratiqué d'autres musiques que le jazz : Salsa avec Eddie
    Martinez, Musique Antillaise avec Michel Alibo, Musique Africaine avec Rido
    Bayonne, musique Klezmer (groupe KLe-Z), Jazz rock avec Magma (disque
    «Merci»), Musique électronique, Chanson Française (François Morel), etc.
  </p>
  <br /><br />
  <p class="Style4" id="discographie">Discographie</p>
  <ul>
    <li>
      Comme soliste :
      <ul>
        <li>QUARTET — Georges ARVANITAS (C.D.CARRÈRE)</li>
        <li>ASSIETTE ANGLAISE — Didier GORET (C.D. Média 7)</li>
        <li>IN THE MEANTIME — Michel ZENINO SEXTET (C.D. I.M.F.P./OMD)</li>
        <li>
          Peter IND’s Bass Clef International « live at the 606 club (Chelsea,
          London) » (CD Wave 42)
        </li>
        <li>Klezmer latitudes – Groupe Kle–z (C.D. Pygmalion records)</li>
      </ul>
    </li>
    <br />
    <li>
      Et comme sideman dans une centaine de disques dont :
      <ul>
        <li>
          Mr swing meets Claude Debussy — Gérard Badini Super swing machine
          (C.D. Mantra/WMD)
        </li>
        <li>Paris scat (Philippe Baudoin (C.D. Média 7)</li>
        <li>Lets share christmas — John Pizarelli/Michel Legrand (C.D. BMG)</li>
        <li>Michel Legrand + Stéphane Grapelli (C.D. Polygram)</li>
        <li>Merci (Groupe Magma)</li>
        <li>...</li>
      </ul>
    </li>
  </ul>

  <a href="">En juillet 2012, j’ai enregistré mon disque : « Pure imagination » avec mon
    quartet.</a>
  <br />
  <a href="">En août 2017, j’ai enregistré un album en duo avec mon fils Dexter : « Family
  business ».</a>

  <br /><br />
  <p class="Style4" id="cv-pedagogique">CV pédagogique</p>

  Passionné de pédagogie, j’ai fondé (en 1983) l'école de jazz et musiques
  afro-américaines ARPEJ à Paris et j’en assume désormais les responsabilités de
  directeur pédagogique et d’enseignant (classes de saxophone et
  d’improvisation). J’ai par ailleurs été responsable d’un secteur jazz dans le
  cadre du conservatoire de Saint-Malo (de 1997 à 2009). J’ai (dans le cadre
  institutionnel et privé) pris en charge de nombreux stages, jurys master
  classes, Formation de formateurs et ateliers. 
  <br>
  Je suis enfin l’auteur d’une
  méthode de saxophone et d'improvisation en 2 volumes (vendue à 20 000
  exemplaires environ) et j’ai participé (comme collaborateur) à d’autres
  ouvrages pédagogiques.

  <br /><br />
  <p class="Style4" id="reseaux-sociaux">Réseaux sociaux</p>

  <a href="https://www.facebook.com/michelgoldbergjazz/?ref=hl"><img src="../Data/Images/2023_Facebook_icon.png" alt="logo-fb" style="height: 100px;"></a>
  <a href="https://www.discogs.com/fr/artist/1283608-Michel-Goldberg"><img src="../Data/Images/discogs-lg.png" alt="logo-discogs" style="height: 100px;"></a>
</div>
