<nav class="navbar ms-3 me-3 mb-3 mt-3" style="z-index: 0">
    <div class="row w-100">
      <div class="col-9 p-3">
        <a href="https://https://www.arpej-jazz.asso.fr/"
          ><img src="../../Data/Images/arpej.png" style="width: 150px"
        /></a>
        <a
          href="https://www.outre-mesure.net/achat/produits_auteur.php?catid=Goldberg,%20Michel"
          ><img src="../../Data/Images/outremesure.png" style="width: 90px"
        /></a>
        <a href="https://www.selmer.fr/?LANGUE=fr"
          ><img
            src="../../Data/Images/Henri_Selmer_Paris_logo.png"
            style="width: 120px"
        /></a>
        <a href="https://vandoren.fr/fr/artistes-vandoren/goldberg-michel/"
          ><img src="../../Data/Images/vandoren.png" style="width: 150px"
        /></a>
      </div>
      <div class="col-3 p-3">Michel Goldberg ©<span id="year"></span></div>
    </div>
</nav>
<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>

<!-- 
<nav class="navbar ms-3 me-3 mt-3 mb-3" style="z-index: 0">
    <div class="row bg-primary">
      <div class="col">
        <a href="https://https://www.arpej-jazz.asso.fr/"
          ><img src="../Data/Images/arpej.png" style="width: 150px"
        /></a>
      </div>
      <div class="col">
        <a
          href="https://www.outre-mesure.net/achat/produits_auteur.php?catid=Goldberg,%20Michel"
          ><img src="../Data/Images/outremesure.png" style="width: 90px"
        /></a>
      </div>
      <div class="col">
        <a href="https://www.selmer.fr/?LANGUE=fr"
          ><img
            src="../Data/Images/Henri_Selmer_Paris_logo.png"
            style="width: 120px"
        /></a>
      </div>
      <div class="col">
        <a href="https://vandoren.fr/fr/artistes-vandoren/goldberg-michel/"
          ><img src="../Data/Images/vandoren.png" style="width: 150px"
        /></a>
      </div>
    </div>
    <div class="row bg-primary"><div class="col">test</div></div>
  </nav> -->
