<div class="content">
    <div class="Style2 text-center">Enregistrements</div>
    <div class="hr-wrapper">
        <hr class="ms-5 me-5">
    </div>
        <br>
    <div class="row">
        <div class="col-6 text-center">
            <div class="display-6 mb-2">Family Business</div>
            <div class="imgg">
                <a href="/Enregistrements/Family-Business.php">
                    <img src="/Data/Images/familly-buisness.jpeg" style="height: 400px;">
                </a>
            </div>
        </div>
        <div class="col-6 text-center">
            <div class="display-6 mb-2">Pure Imagination</div>
            <div class="imgg">
                <a href="/Enregistrements/Pure-imagination.php">
                    <img class="duo" src="/Data/Images/pure-imagination.jpg" style="height: 400px;">
                </a>
            </div>
        </div>
    </div>
    <br><br>
</div>
<style>
    .imgg {
        background: #ffffff;
        display: inline-block;
        /* border: 1px;
        border-radius: 1px;
        border-color: black;
        border-style: solid; */
    }

    .imgg img {
        -transition: opacity 0.9s;
    }

    .imgg img:hover {
        opacity: 0.2;
        transition: 0.7s;
    }

    .imgg:not(:hover) img {
        opacity: 1;
        transition: 0.9s;
    }
</style>