<div class="container">
  <p class="Style2 text-center">L'enseignement</p>

  <p>
    J'enseigne depuis que je suis musicien professionnel (depuis 35 ans
    environ). Dès 1983, j'ai fondé l'ARPEJ (école de jazz et musiques afro
    américaines à Paris)… En 1987, je publie le premier volume d'une méthode de
    saxophone jazz et en 1992 sort son deuxième volume (Réédition révisée en
    2014) Ces méthodes se sont vendues a plus de 20 000 exemplaires. Depuis
    2010, je donne des cours en ligne via OSTINATO LINE… Et j'ai bien d'autres
    projets (dont une méthode d'improvisation)…
  </p>
  <hr />
</div>

<!-- 
<p>
    J'enseigne depuis que je suis musicien professionnel (depuis 35 ans environ).
    <br>
    Dès 1983, j'ai fondé l'ARPEJ (école de jazz et musiques afro américaines à Paris)…
    <br>
    En 1987, je publie le premier volume d'une méthode de saxophone jazz…
    <br>
    1992, son deuxième volume, a été réédité (totalement revu) en 2014…
    <br>
    Plus de 20 000 exemplaires vendus pour les deux volumes…
    <br>
    Depuis 2010, je donne des cours en ligne via OSTINATO LINE…
    <br>
    Et j'ai bien d'autres projets (dont une méthode d'improvisation)…
</p> -->
