<div class="container">
  <p class="Style2 text-center">L'enseignement</p>

  <p>
    J'enseigne depuis que je suis musicien professionnel (depuis 35 ans
    environ). Dès 1983, j'ai fondé l'ARPEJ (école de jazz et musiques afro
    américaines à Paris)… En 1987, je publie le premier volume d'une méthode de
    saxophone jazz et en 1992 sort son deuxième volume (Réédition révisée en
    2014) Ces méthodes se sont vendues a plus de 20 000 exemplaires. Depuis
    2010, je donne des cours en ligne via OSTINATO LINE… Et j'ai bien d'autres
    projets (dont une méthode d'improvisation)…
  </p>
  <hr />
  <br />
  <br />
  <div class="row text-center">
    <div class="col">
      <a href="/Enseignements/ARPEJ.php">
        <p class="Style4">ARPEJ</p>
        <br />
        <img src="../Data/Images/arpej.png" style="height: fit-content" />
      </a>
    </div>

    <div class="col">
      <a href="/Enseignements/Cours-de-Jazz-en-ligne.php">
        <p class="Style4">Cours de Jazz en ligne</p>
        <br />
        <img src="../Data/Images/OSTINA.png" style="height: fit-content" />
      </a>
    </div>

    <div class="col">
      <a href="/Enseignements/Methodes.php">
        <p class="Style4">Méthodes</p>
        <br />
        <img src="../Data/Images/methode1.png" style="height: 400px" />
        <img src="../Data/Images/methode2.jpg" style="height: 400px" />
      </a>
    </div>
  </div>
</div>

<!-- 
<p>
    J'enseigne depuis que je suis musicien professionnel (depuis 35 ans environ).
    <br>
    Dès 1983, j'ai fondé l'ARPEJ (école de jazz et musiques afro américaines à Paris)…
    <br>
    En 1987, je publie le premier volume d'une méthode de saxophone jazz…
    <br>
    1992, son deuxième volume, a été réédité (totalement revu) en 2014…
    <br>
    Plus de 20 000 exemplaires vendus pour les deux volumes…
    <br>
    Depuis 2010, je donne des cours en ligne via OSTINATO LINE…
    <br>
    Et j'ai bien d'autres projets (dont une méthode d'improvisation)…
</p> -->
