<div id="fb-root"></div>
<script
  async
  defer
  crossorigin="anonymous"
  src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v18.0"
  nonce="rridnogV"
></script>
<div
  class="fb-page"
  data-href="https://www.facebook.com/michelgoldbergjazz"
  data-tabs="timeline"
  data-width="500"
  data-height="500"
  data-small-header="false"
  data-adapt-container-width="true"
  data-hide-cover="false"
  data-show-facepile="true"
>
  <blockquote
    cite="https://www.facebook.com/michelgoldbergjazz"
    class="fb-xfbml-parse-ignore"
  >
    <a href="https://www.facebook.com/michelgoldbergjazz"
      >Michel Goldberg : musicien de jazz</a
    >
  </blockquote>
</div>
