<div class="container">
  <p class="Style2 text-center">"Family business" - GOLDBERG(S)</p>
  <p class="text-center">
    En août 2017, j'ai enregistré un album un duo avec mon fils Dexter…<br />
    C'est le début d'une belle aventure musicale et familiale.
  </p>
  <hr />

  <div class="row">
    <div class="col-4">
      <p class="Style4">Les titres</p>
      <div id="accordion">

        <div class="card">
          <div class="card-header">
            <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
              Stardust - 7'29
            </a>
          </div>
          <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
            <div class="card-body">
              Michel Goldberg : saxophone ténor<br>
              Dexter Goldberg : piano
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
              When I take my sugar to tea - 3'10
            </a>
          </div>
          <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Michel Goldberg : saxophone ténor<br>
              Dexter Goldberg : piano
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
              I'll be OK - 5'28
            </a>
          </div>
          <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Michel Goldberg : soprano<br>
              Dexter Goldberg : piano
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour">
              Sail away - 6'28
            </a>
          </div>
          <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Michel Goldberg : saxophone ténor<br>
              Dexter Goldberg : piano
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFive">
              There is a small hotel - 3'58
            </a>
          </div>
          <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Michel Goldberg : saxophone ténor<br>
              Dexter Goldberg : piano
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseSix">
              Syracuse - 4'02
            </a>
          </div>
          <div id="collapseSix" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Michel Goldberg : saxophone ténor<br>
              Dexter Goldberg : piano
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseSeven">
              I've just seen her - 5'25
            </a>
          </div>
          <div id="collapseSeven" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Michel Goldberg : soprano<br>
              Dexter Goldberg : piano
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseHeight">
              The good life - 3'54
            </a>
          </div>
          <div id="collapseHeight" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Michel Goldberg : saxophone ténor<br>
              Dexter Goldberg : piano
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseNine">
              Put on a happy face - 4'29
            </a>
          </div>
          <div id="collapseNine" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Michel Goldberg : saxophone ténor<br>
              Dexter Goldberg : piano
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTen">
              Springtime for Hitler - 3'13
            </a>
          </div>
          <div id="collapseTen" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Michel Goldberg : saxophone ténor<br>
              Dexter Goldberg : piano
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseEleven">
              You must believe in spring - 4'36
            </a>
          </div>
          <div id="collapseEleven" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Michel Goldberg : saxophone ténor<br>
              Dexter Goldberg : piano
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwelve">
              My melancholy baby - 3'57
            </a>
          </div>
          <div id="collapseTwelve" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Michel Goldberg : soprano<br>
              Dexter Goldberg : piano
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThirteen">
              Blues for Mel - 3'36
            </a>
          </div>
          <div id="collapseThirteen" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              Michel Goldberg : saxophone ténor<br>
              Dexter Goldberg : piano
            </div>
          </div>
        </div>
      </div>

      <!-- <ol class="list-group list-group-numbered list-group-flush">
        <li class="list-group-item list-group-item-action">Stardust - 7'29</li>
        <li class="list-group-item list-group-item-action">
          When I take my sugar to tea - 3'10
        </li>
        <li class="list-group-item list-group-item-action">
          I'll be OK - 5'28
        </li>
        <li class="list-group-item list-group-item-action">Sail away - 6'28</li>
        <li class="list-group-item list-group-item-action">
          There is a small hotel - 3'58
        </li>
        <li class="list-group-item list-group-item-action">Syracuse - 4'02</li>
        <li class="list-group-item list-group-item-action">
          I've just seen her - 5'25
        </li>
        <li class="list-group-item list-group-item-action">
          The good life - 3'54
        </li>
        <li class="list-group-item list-group-item-action">
          Put on a happy face - 4'29
        </li>
        <li class="list-group-item list-group-item-action">
          Springtime for Hitler - 3'13
        </li>
        <li class="list-group-item list-group-item-action">
          You must believe in spring - 4'36
        </li>
        <li class="list-group-item list-group-item-action">
          My melancholy baby - 3'57
        </li>
        <li class="list-group-item list-group-item-action">
          Blues for Mel - 3'36
        </li>
      </ol> -->
    </div>
    <div class="col-8 text-center">
      <img
      class="img-fluid mt-5"
      src="/Data/Images/familly-buisness.jpeg"
      />
      <br />
      <br>
        Enregistré les 22, 23 et 24 août 2017 au Studio du Marais par le 3e homme
        du duo : le formidable ingénieur du son <b>Carl Schlosser</b>.
    </div>
  </div>

  <br /><br />
  <p class="Style4">Family business !</p>
  D'une complicité naturelle père/fils, est né cet album intimiste et précieux
  car chargé d'émotion. La liste des morceaux, façonnée par nos parcours
  musicaux respectifs, résulte de choix méticuleux : de belles mélodies,
  teintées d'optimisme, de mélancolie, de romantisme.
  <br /><br>
  Mon père Harry, comme le jazz, était américain, et j'ai voulu lui rendre
  hommage à travers l'American songbook (Stardust, When I take my sugar to tea,
  Put on a happy face, etc.)… mais ce sont peut-être les origines françaises de
  ma mère qui m'ont doucement poussé à enregistrer trois magnifiques standards
  de compositeurs français : You must believe in spring (Michel Legrand), The
  good life (Sacha Distel) et Syracuse (Henri Salvador) : un tribut à la French
  touch pour les mélodies (et à ma maman).
  <br /><br>
  À ces morceaux du patrimoine, j'ai tenu à joindre une composition magique du
  lunaire Tom Harrell : Sail away et Springtime for Hitler, qui originellement
  est une chanson de Mel Brooks pour son film The producers. Nous avons aussi
  enregistré deux compositions personnelles : I'll be OK est une ballade
  nostalgique de Dexter et, dans Blues for Mel, le petit dernier de la famille
  (le fils de ma fille Audrey, Mel, 2 ans à l'époque de l'enregistrement) chante
  en écho, l'air qui sert de base au thème qui lui est dédié.
  <br /><br>
  Mais en fin de compte c'est à ma chérie : Patricia… que je dédie cet album,
  car elle m'a soutenu avec patience et amour… et sans elle, pas de Dexter pour
  danser la musique avec moi !
  <br /><br>
  Famille: je vous aime !
</div>
