<div class="content">
    <div class="Style2 text-center">Mes Groupes</div>
    <br>
    <div class="container">
        <p class="ms-5 me-5">
        Après avoir joué durant plus de 30 ans comme sideman dans des dizaines de groupes, j'ai créé mon quartet en 2007 (avec lequel j'ai enregistré un album sorti en 2013)…
        En 2014, j'ai créé un Duo (« GOLDBERG(S) ») avec mon fils Dexter…
        </p>
    </div>
    <hr class="ms-5 me-5">
    <br>
    <div class="row">
        <div class="col-6 text-center">
            <div class="display-6 mb-2">Michel Goldberg Jazz Quartet</div>
            <div class="imgg">
                <a href="/Groupes/Michel-Goldberg-Jazz-Quartet.php">
                    <img src="/Data/Images/MG-jazz-quartet.jpg" style="height: 400px;">
                </a>
            </div>
        </div>
        <div class="col-6 text-center">
            <div class="display-6 mb-2">GOLDBERG(S)</div>
            <div class="imgg">
                <a href="/Groupes/GOLDBERG(S).php">
                    <img class="duo" src="/Data/Images/goldberg(s).jpg" style="height: 400px;">
                </a>
            </div>
        </div>
    </div>
</div>
<style>
    .imgg {
        background: #ffffff;
        display: inline-block;
    }

    .imgg img {
        -transition: opacity 0.9s;
    }

    .imgg img:hover {
        opacity: 0.2;
        transition: 0.7s;
    }

    .imgg:not(:hover) img {
        opacity: 1;
        transition: 0.9s;
    }
</style>