<div class="content">
    <div class="display-4 text-center">Mes Groupes</div>
    <br>
    <hr class="ms-5 me-5">
    <br>
    <div class="row">
        <div class="col-6 text-center">
            <div class="display-6 mb-2">Michel Goldberg Jazz Quartet</div>
            <div class="quartet">
                <a href="/Groupes/Michel-Goldberg-Jazz-Quartet.php">
                    <img src="/Data/Images/MG-jazz-quartet.jpg" style="height: 400px;">
                </a>
            </div>
        </div>
        <div class="col-6 text-center">
            <div class="display-6 mb-2">GOLDBERG(S)</div>
            <a href="/Groupes/GOLDBERG(S).php"><img class="duo" src="/Data/Images/goldberg(s).jpg"
                    style="height: 400px;"></a>
        </div>
    </div>
</div>
<style>
    .quartet {
        background: #ffffff;
        display: inline-block;
    }

    .quartet img {
        -transition: opacity 0.9s;
    }

    .quartet img:hover {
        opacity: 0.2;
        transition: 0.7s;
    }
</style>