<div class="container">
    <p class="Style2 text-center">Méthode de sax Volume 2</p>
    <hr />
    <span class="badge bg-secondary">Travail du son</span>
    <span class="badge bg-secondary">Catalogues des gammes et arpèges</span>
    <span class="badge bg-secondary">Dextérité</span>
    <span class="badge bg-secondary">Phrasé et expression</span>

    <p class="mt-3">Rééditée et refondue en 2014 puis 2019, cette nouvelle méthode, de plus de 150 pages, 
        se concentre sur les <b>techniques avancés du saxophone </b>(jazz). Elle comporte des <b>centaines
            d'exercices</b>  (son virtuosité, etc.), dont certains approchent techniques inédites 
         (overtones, combinatoire, effets expressifs, etc.)… Nous étudions aussi 
        les doigtés suraigus de <b>20 saxophonistes de référence</b>. C'est en tout <u>des 
            centaines de conseils, procédés, diagrammes, illustrations, références…</u></p>
</div>