<div class="container text-center">
  <p class="Style2 text-center">Méthodes</p>
  <hr />
  <div class="row">
    <div class="col bg-danger">
        <a href="/Enseignements/Methodes/Methode-de-sax-Volume-1.php">
            <img src="/Data/Images/methode1.png" class="methode-img" alt="Méthode-de-sax-Volume-1">
        </a>
    </div>
    <div class="col bg-warning">
        <a href="/Enseignements/Methodes/Methode-de-sax-Volume-2.php">
            <img src="/Data/Images/methode2.jpg" class="methode-img" alt="Méthode-de-sax-Volume-2">
        </a>
    </div>
  </div>
</div>