<nav class="navbar ms-3 me-3 mt-3 mb-3">
    <!-- LOGO -->
    <div class="logo"><a href="/"><img src="../Data/Images/logomg.png" style="height: 80px;" class="ms-2"></a></div>

    <!-- NAVIGATION MENU -->
    <ul class="nav-links">

        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

        <!-- NAVIGATION MENUS -->
        <div class="menu">

            <li><a href="/">Home</a></li>
            <li class="groups">
                <a href="/Biographie">Ma bio</a>
                <ul class="dropdown_groups">
                    <li><a href="../Biographie#cv-musical">CV musical</a></li>
                    <li><a href="../Biographie#discographie">Discographie</a></li>
                    <li><a href="../Biographie#cv-pedagogique">CV pédagogique</a></li>
                    <li><a href="../Biographie#reseaux-sociaux">Réseaux sociaux</a></li>
                </ul>
            </li>

            <li class="groups">
                <a href="/Groupes/">Mes groupes</a>

                <!-- DROPDOWN MENU -->
                <ul class="dropdown_groups">
                    <li><a href="../Groupes/Michel-Goldberg-Jazz-Quartet">Michel Goldberg Jazz quartet</a></li>
                    <li><a href="../Groupes/GOLDBERG(S)">GOLDBERG(S)</a></li>
                </ul>

            </li>

            <li class="groups">
                <a href="/Enregistrement">Enregistrements</a>

                <!-- DROPDOWN MENU -->
                <ul class="dropdown_groups">
                    <li><a href="../Enregistrements/Family-Business">Family Business</a></li>
                    <li><a href="../Enregistrements/Pure-imagination">Pure imagination</a></li>
                </ul>

            </li>

            <li class="groups">
                <a href="../Enseignement">Enseignement</a>

                <!-- DROPDOWN MENU -->
                <ul class="dropdown_groups">
                    <li><a href="../Enseignements/ARPEJ">ARPEJ</a></li>
                    <li><a href="../Enseignements/Cours-de-Jazz-en-ligne">Cours de Jazz en ligne</a></li>
                    <li><a href="../Enseignements/Methodes">Méthodes</a></li>
                </ul>

            </li>

            <li><a href="/Contact">Contact</a></li>


        </div>
    </ul>
</nav>