<nav class="navbar ms-3 me-3 mt-3 mb-3">
    <!-- LOGO -->
    <div class="logo"><a href="/"><img src="../Data/Images/logomg.png" style="height: 80px;" class="ms-2"></a></div>

    <!-- NAVIGATION MENU -->
    <ul class="nav-links">

        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

        <!-- NAVIGATION MENUS -->
        <div class="menu">

            <li><a href="/">Home</a></li>
            <li><a href="/Biographie.php">Ma bio</a></li>

            <li class="groups">
                <a href="/Groupes/">Mes groupes</a>

                <!-- DROPDOWN MENU -->
                <ul class="dropdown_groups">
                    <li><a href="../Groupes/Michel-Goldberg-Jazz-Quartet.php">Michel Goldberg Jazz quartet</a></li>
                    <li><a href="../Groupes/GOLDBERG(S).php">GOLDBERG(S)</a></li>
                </ul>

            </li>

            <li class="groups">
                <a href="/Groupes.php">Enregistrements</a>

                <!-- DROPDOWN MENU -->
                <ul class="dropdown_groups">
                    <li><a href="/">Family Business</a></li>
                    <li><a href="/">Pure imagination</a></li>
                </ul>

            </li>

            <li class="groups">
                <a href="../Groupes.php">Enseignement</a>

                <!-- DROPDOWN MENU -->
                <ul class="dropdown_groups">
                    <li><a href="/">ARPEJ</a></li>
                    <li><a href="/">Cours de Jazz en ligne</a></li>
                    <li><a href="/">Méthodes</a></li>
                </ul>

            </li>

            <li><a href="/Contact.php">Contact</a></li>


        </div>
    </ul>
</nav>