<nav class="navbar">
    <!-- LOGO -->
    <div class="logo">Michel Goldberg</div>

    <!-- NAVIGATION MENU -->
    <ul class="nav-links">

      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>

      <!-- NAVIGATION MENUS -->
      <div class="menu">

        <li><a href="/">Home</a></li>
        <li><a href="/">Ma bio</a></li>

        <li class="groups">
          <a href="/">Mes groupes</a>

          <!-- DROPDOWN MENU -->
          <ul class="dropdown_groups">
            <li><a href="/">Michel Goldberg Jazz quartet</a></li>
            <li><a href="/">GOLDBERG(S)</a></li>
          </ul>

        </li>

        <li><a href="/">Pricing</a></li>
        <li><a href="/">Contact</a></li>
      </div>
    </ul>
  </nav>