body,
html {
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.bg {
    /* The image used */
    background-image: url("/Data/Images/MG-extanded.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.Style5 {
    font-family: 'MontserratAlternates-Bold', 'Montserrat Alternates';
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    background-color: #FFFEFE;
    /* word-wrap: break-word; */
}

.Style2 {
    font-family: 'MontserratAlternates-Bold', 'Montserrat Alternates';
    font-size: 48px;
    font-weight: 700;
    color: #9e0059;
    background-color: #FFFEFE;
    word-wrap: break-word;
}

.Style4 {
    font-family: 'MontserratAlternates-Bold', 'Montserrat Alternates';
    font-size: 20px;
    font-weight: 700;
    color: #9e0059;
    background-color: #FFFEFE;
    word-wrap: break-word;
}

.carousel-container {
    max-width: 400px;
    margin: auto;
}