body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
}

.Style2 {
    font-family: 'MontserratAlternates-Bold', 'Montserrat Alternates';
    font-size: 48px;
    font-weight: 700;
    color: #941651;
    background-color: #FFFEFE;
    word-wrap: break-word;
}

.Style4 {
    font-family: 'MontserratAlternates-Bold', 'Montserrat Alternates';
    font-size: 20px;
    font-weight: 700;
    color: #941651;
    background-color: #FFFEFE;
    word-wrap: break-word;
}